html,
body {
  background: #23272b;
  color: #fff;
}

/* Your logo header */

.page-header {
  background-color: #23272b;
}

.logo2 {
  width: 280px;
  margin: 15px 80px;
}

.logo1 {
  width: 100%;
  text-align: center;
  padding-bottom: 1px;
}

/* Main page area */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("minecraft\ bed\ -\ 1080p.jpg") no-repeat center center;
  height: 50%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.main {
  display:flex;
  justify-content: center;
  height: 77vh;
}

#text-block {
  padding-top: 10px;
  text-align: left;
}

.welcome {
  padding: 10px 0;
  text-align: center;
}

#descrip {
  line-height: 2em;
  display: inline-block;
  max-width: 760px;
}

.statusinfo {
  display: block;
  justify-content: flex-start;
  text-align: left;
  color: #fff;
  list-style-type: none;
  margin-left: 10px;
  line-height: 2em;
  width: 15rem;
  height: 13rem;
  border: 0.8rem solid #5e912d;
  border-radius: 20px;
}

.engimatica2{
margin-top: 50px;
margin-left:30px;
height: 30%;
width: 20%;

}

/* MCserver Status*/


ul h3 {
  color: red;
}

/* MCserver Status End*/

@media screen and (max-width: 637px) and (min-height: 411px) {
  .logo2 {
    width: 280px;
    margin: 40px;
  }

  .logo1 {
    width: 90%;
    text-align: left;
  }

  .hero {
    background: #23272b;
  }
  .main,
  .welcome {
    width: 90%;
  }

  ul {
    display: block;
    font-size: 90%;
    line-height: 2.5em;
    border: 0;
  }
  #descrip {
    display: inline-block;
  }
  footer {
    color: #23272b;
  }
  .engimatica2{
    display: none;
  }
}

@media screen and (max-width: 1104px) {
  .engimatica2{
    display: none;
  }
}